:root {
    --blue:rgb(54, 66, 113);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
}

.heading span {
    color: var(--blue);
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 4rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.8rem;
    cursor: pointer;
    font-size: 2rem;
}

.btn:hover {
    background-color: #fff;
    color: #333;
    border:.1rem solid #333 ;
}

header {
    position: fixed;
    top:0;
    left: 0;
    right:0;
    background:#fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.1);
    transition: 0.5s;
}

header .logo {
    padding:0;
}

header .logo img {
    width:7rem;
}

header .navbar a{
    font-size:  2rem;
    padding: 1rem 1.5rem;
    color: #666;
    /* border: 1px solid black; */
    border-radius: 15px;
}

header .navbar a:hover{
    color: #fff;
    background-color:var(--blue);   
}
header .login {
    display: flex;
    gap: 20px;
}
header .login a {
    font-size:  2rem;
    padding: 0.9rem 3.8rem;
    color: #fff; 
    border-radius: 30px;
    background-color: var(--blue);
    transition: scale 0.2 ease;
}
header .login a:hover {
    color: #666;
    border: 0.1rem solid var(--blue);
    background-color: #fff;
    transition: 0.6s smooth;
}


header #menu-toggler {
    display: none;
}

header .fa-bars {
    font-size: 3rem;
    color: #333;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0,0,0,.3);
    display: none;
}


header .fa-right-to-bracket {
    font-size: 3rem;
    color: #333;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0,0,0,.3);
    display: none;
}

.home{
    display: flex;
    align-items: center;
    min-height: 110vh;
    background: url(homee.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content {
    max-width: 50rem;
}

.home .content h3{
    font-size: 5rem;
    color: #333;
}

.home .content p{
    font-size: 2rem;
    color: #5e5e5e;
    padding: 1rem 0;
    line-height: 1.5;
}
















.mvvs {
  background-color: #F0F0F0; 
  padding: 40px 0; 
  text-align: center; 
}


.container {
  max-width: 1200px; 
  margin: 0 auto;
}


.mvv {
  margin-bottom: 20px; 
  padding: 20px; 
  background-color: rgba(255, 255, 255, 0); 
  border-radius: 15px; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 
}

.mvvs .container .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 30px;
}


.mvv h1 {
  font-size: 36px;
  color: #333; 
  margin-bottom: 10px; 
}


.mvv p {
  font-size: 16px; 
  color: #666; 
  line-height: 1.5; 
}

/* Responsive media query for smaller screens */
@media (max-width: 768px) {
  .mvv {
    padding: 10px; /* Reduce padding on smaller screens */
  }

  .mvv h1 {
    font-size: 20px; /* Adjust heading font size */
  }

  .mvv p {
    font-size: 14px; /* Adjust paragraph font size */
  }
}
  







  
  .val {
    background-color: #f4f4f4; 
    padding: 40px 0; 
    text-align: center; 
  }
  
  
  .container {
    width: 100%; 
    margin: 0 auto;
    padding: 0 8%;
  }
  
  .val .container .row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
  }
 
  .val h1 {
    font-size: 36px; 
    color: #333; 
    margin-bottom: 20px; 
  }
  
  
  .values {
    margin-bottom: 10px; 
    padding: 20px; 
    background-color: #fff; 
    border-radius: 15px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
 }
  
  
  .values h2 {
    font-size: 24px; 
    color: #333; 
    margin-bottom: 10px; 
  }
  
  
  .values p {
    font-size: 16px; 
    color: #666; 
    line-height: 1.5; 
  }
  
  /* Responsive media query for smaller screens */
  @media (max-width: 768px) {
    .values {
      padding: 10px; /* Reduce padding on smaller screens */
    }
  
    .values h2 {
      font-size: 20px; /* Adjust heading font size */
    }
  
    .values p {
      font-size: 14px; /* Adjust paragraph font size */
    }
  }
  

  





  .services {
    background-color: #f8f6f0; 
    padding: 40px 0; 
    text-align: center; 
  }
  
  
  .services .container {
    max-width: 1200px; 
    margin: 0 auto; 
  }
  
  
  .services h1 {
    font-size: 36px; 
    color: #333; 
    margin-bottom: 20px; 
  }
  
  .services .container .row{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 30px;
  }
  
  
  .services .container .row .service {
      padding: 25px 10px;
      border-radius: 5px;
      font-size:14px;
      cursor: pointer;
      background: transparent;
      transition: transform 0.5s, background 0.5s;
  }
  
  
  .services .container .row .service i {
    font-size: 40px; 
    color: #3a965f; 
    margin-bottom: 10px; 
  }
  
  
  .service h2 {
    font-size: 24px; 
    color: #333; 
    margin-bottom: 10px; 
  }
  
  .services .container .row .service:hover{
      background: #3a965f;
      color: #fff;
      transform: scale(1.05);
  }
  .services .container .row .service:hover i{
      color: #fff;
  }
  
  
  .service p {
    font-size: 16px; 
    color: #666; 
    line-height: 1.5; 
  }
  
  /* Responsive media query for smaller screens */
  @media (max-width: 768px) {
    .service {
      padding: 10px; /* Reduce padding on smaller screens */
    }
  
    .service i {
      font-size: 30px; /* Adjust icon font size */
    }
  
    .service h2 {
      font-size: 20px; /* Adjust heading font size */
    }
  
    .service p {
      font-size: 14px; /* Adjust paragraph font size */
    }
  }
  
  








   


.teammembers .wrapper{
    margin-top: -15%;
  }
  
.teammembers .wrapper h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    text-align: center;
    padding-top: 15%;
    margin-bottom: 60px;
    font-weight:600;
    position: center;
}
  
.teammembers .team{
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    flex-wrap: wrap;
}
  
.teammembers .team .team_member{
    background: #fff;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color: #8e8b8b;  
    position: relative;
}
  
.teammembers .team .team_member h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #81c644;
    font-size: 26px;
    margin-top: 70px;
}
  
.teammembers .team .team_member p.role{
    color: #ccc;
    margin: 12px 0;
    font-size: 12px;
    text-transform: uppercase;
}

.teammembers .team .team_member p{
    font-size:12px;
}
  
.teammembers .team .team_member .team_img{
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #F0F0F0;
}
  
.teammembers .team .team_member .team_img img{
    width: 100px;
    height: 100px;
    padding: 5px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .teammembers .team .team_member {
      width: 100%; /* Adjust the width to occupy the full width of the container */
    }
  
    .teammembers .team .team_member h3 {
      font-size: 20px; /* Adjust font size for names */
    }
  
    .teammembers .team .team_member p.role {
      font-size: 14px; /* Adjust font size for roles */
    }
  
    .teammembers .team .team_member .team_img {
      top: -30px; /* Adjust the position of the team member image */
      width: 80px; /* Adjust the size of the team member image */
      height: 80px;
    }
  
    .teammembers .team .team_member .team_img img {
      width: 80px; /* Adjust the size of the image */
      height: 80px;
    }

    .teammembers .wrapper h1{
      text-align: left;
    }
  }


  .newsletter{
    display: flex;
    padding-top: 3rem;
    padding-bottom: 3rem;
    gap: 3rem;
    justify-content: space-between;
    flex:wrap;
    background-color: #333;
}

.newsletter h1{
    font-size: 3rem;
    color: #fff;
}
.newsletter .input-container{
    display: flex; 
    /* overflow: hidden; */
    box-shadow: 0 .5rem .5rem rgba(0,0,0,.1);
    flex-basis: 60%;
}
.newsletter .input-container .email{
    flex:1;
    font-size: 2rem;
    padding: 1rem 0.4rem; 
    /* border-radius: 1rem 0 0 1rem; */
    border: .1rem solid #ccc;
}
.newsletter .input-container .subscribe-button{
    font-size: 2rem;
    padding: 1rem 0.2rem;
    color: #fff;
    font-weight: bold;
    border: none;
    /* border-radius: 0 1rem 1rem 0; */
    background-color: #be1818;
    transition: 0.5s ease;
    flex: 0.3;
}
.newsletter .input-container .subscribe-button:hover{
    background-color: #eee;
    color: #333;
}
.footer{
    background-color: #333;
    color: #fff;
}
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .box-container .box{
    flex: 1 1 20rem;
}

.footer .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    color: #eee;
    font-size: 1.5rem;
    padding: .7rem 0;
}

.footer .box-container .box a:hover{
    text-decoration: underline;
    color: lightskyblue;
}
.footer .box-container .box .icon{
    padding-right: 1rem;
}
.footer .footer-logo {
    display: flex;
    justify-content: space-between;
    padding: .7rem 0;
}
.footer .footer-logo .logo img{
    width:10rem;
    /* mix-blend-mode: multiply; */
}
.footer .footer-logo .btn{
    padding:.8rem 2.5rem;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.footer .back-to-top{
    color: #333;
    background-color: #eee;
}
.footer .back-to-top:hover{
    color: #eee;
    border: .1rem solid #eee;
    background-color: #555;
}
.footer .copyright{
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    color: rgb(238, 238, 238);
    border-top: .2rem solid rgba(238, 238, 238, 0.1);
}




@media (max-width: 768px) {
    .footer .footer-logo .logo img {
        width: 10rem;
        position: relative; 
        top: -80px; 
        left: 350px; 
    }
}

/* media queries  */
@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    header {
        padding:2rem;
    }

    section{
        padding: 2rem;
    }

    .home{
        background-position: left;
    }

    header .login a {
        font-size:  1.5rem;
    }
}

@media (max-width:768px) {

 
    header .logo img {
        width:10rem;
    }


     /* toggler for navbar  */
    header .fa-bars {
        display: inline-block;
        margin-left: 55%;

    }

    
    /* header .navbar{
        position: absolute;
        top:100%; left:0; right: 0;
        background: #eee; 
        border-top:1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    } */

    header .navbar{
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
        width: 40%;
        margin-top: 9rem;
        position: fixed;
        top:0;
        right: -100%;
        z-index: 100;
        transition: all .2s ease-in-out;
        background-color: #fff;
        border: .1rem solid #999;
        }

    header .navbar a{
        border-radius:0;
        padding: .2rem;
        text-align: center;
        border: none;
    }

    header #menu-toggler:checked ~ .navbar{
        /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
        right:10%;
    }

    header .navbar a{
        margin: 1.5rem;
        padding: 1rem;
        background: #fff;
        border: .1rem solid rgba(0,0,0,.1);
        display: block;
    }

    /* toggler for signin and signup */ 
    header .fa-right-to-bracket {
        display:inline-block;
        margin-right: 5%;
    }
    
    /* header .login{
        position: absolute;
        top:100%; left:0; right:0;
        background: #eee; 
        border-top:1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    } */

    /* header #toggler2:checked ~ .login{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    } */

    /* header .login a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0,0,0,.1);
        color: #333;
        display: block;
    } */


    header .login {
        display: none;
    }

    .home .content h3{
        font-size: 5rem;
    }

    .home .content span{
        font-size: 2.5rem;
    }

    .newsletter{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .course {
      font-size: 0.8cm;
    }
  }
  
  @media (max-width: 480px) {
    .course {
      font-size: 0.6cm;
    }
  }
  
@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    header .logo img {
        width:5rem;
    }
    
    header {
        padding:2rem;
    }
    .heading{
        font-size: 3rem;
    }
}